.for-div{
  display: inline-block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 1em;
}

.for-span{
  display: block;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 1em;
}

.for-block{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}


#library {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  /*justify-content:space-around;*/
  align-items:stretch

}

.library-item1 {
  flex:0 1 20%;
  height: 100px;
}
.library-item2 {
  flex:0 1 20%;
  height: 200px;
}
.library-item3 {
  flex:0 1 20%;
  height: 300px;
}

.block{
  border-color: black;
  border-width: 1px;
  border-style: solid;
}