.row { display: table-row }
.cell { display: table-cell }

.element {
    background-color: aquamarine;
    min-height: 5rem;
    width: 10rem;
    border-style: solid;
    border-color: black;
    float: left;
}

.first {
    float:left;
    clear: both;
    /*position: relative;*/
    margin-left: 5rem;
}

.second {
    float:left;
    clear: both;
    /*position: relative;*/
    margin-left: 6rem;
}

.third {
    float:left;
    clear: both;
    /*position: relative;*/
    margin-left: 7rem;
}